Tools/n8n/workflows/3qax5J9u2qsT9Vao-Edit_Whatsapp_Workflow.json
{
  "name": "Edit Whatsapp Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "EditWhatsappWorkflow",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -640,
        112
      ],
      "id": "020acb10-bc30-49a1-9b7d-7450c2c93996",
      "name": "Unity Webhook",
      "webhookId": "29c14c57-4d43-4185-907d-9ac94902222d"
    },
    {
      "parameters": {
        "url": "=https://bagkz.app.n8n.cloud/api/v1/workflows/{{ $json.body.WhatsappWorkflowId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -464,
        112
      ],
      "id": "d435fa38-b8cd-4347-89df-4b2737d404a1",
      "name": "Get Workflow",
      "credentials": {
        "n8nApi": {
          "id": "X1k4igOAG65Fb3oz",
          "name": "n8n account"
        },
        "httpBearerAuth": {
          "id": "nfU8CbYjPssGjEZA",
          "name": "Bearer Auth account"
        },
        "httpHeaderAuth": {
          "id": "RV7m661NMLPXEcvm",
          "name": "n8nAPIKey"
        }
      }
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://bagkz.app.n8n.cloud/api/v1/workflows/{{ $('Get Workflow').item.json.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        144,
        112
      ],
      "id": "d2d1b93d-6288-480f-9d9c-4b5f309122ba",
      "name": "Update Workflow",
      "credentials": {
        "n8nApi": {
          "id": "X1k4igOAG65Fb3oz",
          "name": "n8n account"
        },
        "httpBearerAuth": {
          "id": "nfU8CbYjPssGjEZA",
          "name": "Bearer Auth account"
        },
        "httpHeaderAuth": {
          "id": "RV7m661NMLPXEcvm",
          "name": "n8nAPIKey"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "533a84d0-6760-4575-82c8-b4fcd20cbf38",
              "name": "name",
              "value": "={{ $('Unity Webhook').item.json.body.Name }}",
              "type": "string"
            },
            {
              "id": "f594051b-800e-4eb3-b1e4-525aa342364d",
              "name": "nodes[5].parameters.options.systemMessage",
              "value": "={{ $json.nodes[5].parameters.options.systemMessage.slice(0, $json.nodes[5].parameters.options.systemMessage.indexOf(\"\\n\" + \"Additional Instructions: \")); }}\nAdditional Instructions: {{ $('Unity Webhook').item.json.body.Prompt }}\n\nAbout Business: {{ $('Unity Webhook').item.json.body.Business }}\n\nProducts:\n{{ $('Unity Webhook').item.json.body.ProductsList }}\n\nServices:\n{{ $('Unity Webhook').item.json.body.ServicesList }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "include": "selected",
        "includeFields": "name, nodes, connections, settings",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -48,
        112
      ],
      "id": "a9aa11ab-827a-4565-ab0f-23ab5464e620",
      "name": "Set Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f594051b-800e-4eb3-b1e4-525aa342364d",
              "name": "nodes[5].parameters.options.systemMessage",
              "value": "=Business Type: {{ $('Unity Webhook').item.json.body.BusinessType }}\n{{$json.nodes[5].parameters.options.systemMessage.slice($json.nodes[5].parameters.options.systemMessage.indexOf('\\n') + 1) }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "include": "selected",
        "includeFields": "name, nodes, connections, settings",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -256,
        112
      ],
      "id": "70e43a9a-8f52-4deb-8d3e-58cbfc34bb3d",
      "name": "Set Bussiness Type"
    }
  ],
  "connections": {
    "Unity Webhook": {
      "main": [
        [
          {
            "node": "Get Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Workflow": {
      "main": [
        [
          {
            "node": "Set Bussiness Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Workflow": {
      "main": [
        []
      ]
    },
    "Set Fields": {
      "main": [
        [
          {
            "node": "Update Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Bussiness Type": {
      "main": [
        [
          {
            "node": "Set Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "pinData": {},
  "triggerCount": 1,
  "meta": null,
  "id": "3qax5J9u2qsT9Vao",
  "active": false
}