Tools/n8n/workflows/KoTuIlk4LMrlvnWI-Upload_File.json
{
  "name": "Upload File",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "UploadFile",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1344,
        464
      ],
      "id": "06994814-aad3-42a4-9b95-82fab7e46ee6",
      "name": "Webhook",
      "webhookId": "b45566e0-633a-4fa7-9e2f-10e975657efc"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        4480,
        432
      ],
      "id": "98f45385-26be-45d7-9bd6-a89ff96ecde6",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "ifCYb9DhUxoCq3pu",
          "name": "Supabase"
        }
      }
    },
    {
      "parameters": {
        "options": {},
        "model": "text-embedding-3-small"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        4480,
        624
      ],
      "id": "74520661-56e1-40fb-9c5d-aaf5d69eb08b",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "XVjhR1xlWrIgJjKz",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Function to remove all null bytes from a string\nfunction removeNullBytes(str) {\n  return str.replace(/\\0/g, ''); \n}\n\nconst outputItems = [];\n\nfor (const item of $input.all()) {\n  // *** Corrected line: Define the exact field name as a string literal ***\n  const fieldName = 'text'; \n\n  if (item.json[fieldName] && typeof item.json[fieldName] === 'string') {\n    // Sanitize the data in place\n    item.json[fieldName] = removeNullBytes(item.json[fieldName]);\n  }\n  \n  outputItems.push(item);\n}\n\nreturn outputItems;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2960,
        432
      ],
      "id": "ccc0c501-6e2d-4613-b990-6d6df3fd9147",
      "name": "Clean Text"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"fileId\": $('Extract File Id').item.json.fileId } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        4864,
        432
      ],
      "id": "a5ca6b1c-ac66-4f5d-bd50-5f7abff22a79",
      "name": "Return File Id"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": false, \"error\": \"unsupported file type: \" + $('Set File Id').item.binary.data.fileExtension } }}",
        "options": {
          "responseCode": 415
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        816,
        384
      ],
      "id": "7d1f2c3a-9b4e-4f6d-8a2c-5e0f1b3d7c9e",
      "name": "Respond Unsupported Type"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "533a84d0-6760-4575-82c8-b4fcd20cbf38",
              "name": "fileId",
              "value": "={{ $binary.data.fileName + '_' + Date.now()}}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -944,
        464
      ],
      "id": "acce9464-7bdc-4a38-a688-7543598a2e9e",
      "name": "Set File Id"
    },
    {
      "parameters": {
        "operation": "text",
        "binaryPropertyName": "whatsappWorkflowId",
        "destinationKey": "whatsappWorkflowId",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -528,
        464
      ],
      "id": "cab3e3b8-7979-4007-9dff-e4b554a3f2c9",
      "name": "Extract Whatsapp Workflow Id"
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.content }}",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "botWaId",
                "value": "={{ $('Extract Whatsapp Workflow Id').item.json.whatsappWorkflowId }}"
              },
              {
                "name": "botTgId",
                "value": "={{ $('Extract Telegram Workflow Id').item.json.telegramWorkflowId }}"
              },
              {
                "name": "contentType",
                "value": "={{ $('Extract Content Type').item.json.contentType }}"
              },
              {
                "name": "source",
                "value": "blob"
              },
              {
                "name": "fileId",
                "value": "={{ $('Extract File Id').item.json.fileId }}"
              }
            ]
          }
        },
        "textSplittingMode": "custom"
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        4656,
        624
      ],
      "id": "51091986-604a-4942-b4aa-1710f0cb75c9",
      "name": "Data Loader"
    },
    {
      "parameters": {
        "jsCode": "function decodeMimeQP(encodedString) {\n    // Декодирование из формата =?UTF-8?Q?...?=\n    if (encodedString.startsWith('=?utf-8?Q?') && encodedString.endsWith('?=')) {\n        let content = encodedString.substring(10, encodedString.length - 2);\n        // Замена '_', используемого вместо пробела\n        content = content.replace(/_/g, ' ');\n        // Декодирование шестнадцатеричных последовательностей (=D0=A3)\n        return decodeURIComponent(content.replace(/=([0-9A-F]{2})/g, '%$1'));\n    }\n    return encodedString; // Возвращаем исходную строку, если формат не QP\n}\n\n// Access the first item from the input using $input.first()\nconst firstItem = $input.first();\n\n// Check if binary data exists within the first item\nif (firstItem && firstItem.binary && firstItem.binary.data && firstItem.binary.data.fileName) {\n    const originalFileName = firstItem.binary.data.fileName;\n    const decodedFileName = decodeMimeQP(originalFileName);\n    \n    // Обновляем объект бинарных данных новым именем файла\n    firstItem.binary.data.fileName = decodedFileName;\n}\n\n// Return the modified input items\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1136,
        464
      ],
      "id": "3a4c7fed-5dcb-4370-af88-ace854c57527",
      "name": "Get File Name"
    },
    {
      "parameters": {
        "operation": "text",
        "binaryPropertyName": "telegramWorkflowId",
        "destinationKey": "telegramWorkflowId",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -320,
        464
      ],
      "id": "7c318c83-660b-4cdf-b55a-2595a06efa18",
      "name": "Extract Telegram Workflow Id"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Set File Id').item.binary.data.fileExtension.toLowerCase() }}",
                    "rightValue": "txt",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "d993be74-bbbe-4fcc-bd65-5ed665a2b1a7"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "txt"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "400a711f-9f13-4e5e-a155-a0dc746fbec9",
                    "leftValue": "={{ $('Set File Id').item.binary.data.fileExtension.toLowerCase() }}",
                    "rightValue": "pdf",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "pdf"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "unsupported"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        480,
        80
      ],
      "id": "fe131edd-f9c5-48ee-a9d5-520d6ec5e8e8",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "=data",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        816,
        192
      ],
      "id": "87eb8bef-94dd-4122-b3f9-f723a9bc79a2",
      "name": "Extract from PDF"
    },
    {
      "parameters": {
        "operation": "text",
        "binaryPropertyName": "=data",
        "destinationKey": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        816,
        -16
      ],
      "id": "5b98f88b-bae0-4fff-ae3f-c3818bae4039",
      "name": "Extract from TXT"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2736,
        432
      ],
      "id": "3e634b35-2b57-4916-b009-eca7108f451e",
      "name": "Merge"
    },
    {
      "parameters": {
        "operation": "text",
        "binaryPropertyName": "contentType",
        "destinationKey": "contentType",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -736,
        464
      ],
      "id": "b4bad0ec-d923-451b-b85b-dee507bb99cd",
      "name": "Extract Content Type"
    },
    {
      "parameters": {
        "operation": "text",
        "binaryPropertyName": "fileId",
        "destinationKey": "fileId",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -840,
        300
      ],
      "id": "ce9f3517-1634-4953-a34e-b1d28277b3c4",
      "name": "Extract File Id"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "324a3f4d-dbee-4d87-8951-b55e7a81039f",
              "name": "content",
              "value": "={{ $json.text }}",
              "type": "string"
            },
            {
              "id": "b61684e8-3143-45ec-a279-8b8557035d55",
              "name": "metadata",
              "value": "={{ \n  {\n    source: \"blob\",\n    contentType: $('Extract Content Type').item.json.contentType || \"unknown\",\n    fileName: $('Set File Id').item.json.fileId || \"unknown\"\n  } \n}}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3232,
        432
      ],
      "id": "fb5ce8a7-d150-47a4-a8bb-f980f8006d9f",
      "name": "Source Text"
    },
    {
      "parameters": {
        "chunkSize": 1000,
        "chunkOverlap": 150,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        4656,
        844
      ],
      "id": "5413ab58-bd45-5f9e-93ad-5be398726489",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://mnwsdbqvehrkeqwnwpqb.supabase.co/storage/v1/object/price-lists/{{ $('Extract File Id').item.json.fileId }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-upsert",
              "value": "true"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        816,
        -224
      ],
      "id": "2dc5405c-7f57-5765-9c37-ea972bbea551",
      "name": "Store Original File",
      "credentials": {
        "supabaseApi": {
          "id": "ifCYb9DhUxoCq3pu",
          "name": "Supabase"
        }
      },
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Get File Name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "main": [
        [
          {
            "node": "Return File Id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Clean Text": {
      "main": [
        [
          {
            "node": "Source Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set File Id": {
      "main": [
        [
          {
            "node": "Extract File Id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract File Id": {
      "main": [
        [
          {
            "node": "Extract Content Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Whatsapp Workflow Id": {
      "main": [
        [
          {
            "node": "Extract Telegram Workflow Id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Get File Name": {
      "main": [
        [
          {
            "node": "Set File Id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Telegram Workflow Id": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Extract from PDF": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from TXT": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Extract from TXT",
            "type": "main",
            "index": 0
          },
          {
            "node": "Store Original File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract from PDF",
            "type": "main",
            "index": 0
          },
          {
            "node": "Store Original File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Unsupported Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Clean Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Content Type": {
      "main": [
        [
          {
            "node": "Extract Whatsapp Workflow Id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Source Text": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "pinData": {},
  "triggerCount": 1,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "KoTuIlk4LMrlvnWI",
  "active": false
}