Tools/n8n/workflows/SCLcpn6DMDG3Z4VN-Set_Reply_Mode.json
{
  "name": "Set Reply Mode",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "SetReplyMode",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "d2000000-0000-4000-8000-000000000101",
      "name": "Webhook",
      "webhookId": "d2f7a1c0-2222-4aaa-9bbb-000000000001"
    },
    {
      "parameters": {
        "jsCode": "const b = $json.body || {};\nconst sentinel = (id) => !id || id === \"-1\";\n// Harden against the Postgres node's queryReplacement comma-split (WR-03): a comma inside a\n// value shifts the positional $1,$2,$3 parameters. Legit Wappi ids never contain commas.\n// Length cap + slice(0, 10) bound the unauthenticated fan-out (IN-03); legit client sends <= 2.\nconst clean = (s) => typeof s === \"string\" && s.length > 0 && s.length <= 128 && !s.includes(\",\");\nlet ids = Array.isArray(b.profileIds) ? b.profileIds.filter(x => clean(x) && !sentinel(x)).slice(0, 10) : [];\nconst okChat = clean(b.chatId);\nconst okSup  = typeof b.suppressed === \"boolean\";\nif (ids.length === 0 || !okChat || !okSup) return [{ json: { invalid: true } }];\nreturn ids.map(pid => ({ json: { profileId: pid, chatId: b.chatId, suppressed: b.suppressed } }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        0
      ],
      "id": "d2000000-0000-4000-8000-000000000102",
      "name": "Validate"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "d2b3c4d5-0001-4000-8000-000000000001",
              "leftValue": "={{ $json.invalid }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        440,
        0
      ],
      "id": "d2000000-0000-4000-8000-000000000103",
      "name": "If invalid?"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": false, \"error\": \"bad_request\" } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        660,
        -160
      ],
      "id": "d2000000-0000-4000-8000-000000000104",
      "name": "Respond Error"
    },
    {
      "parameters": {
        "resource": "database",
        "operation": "executeQuery",
        "query": "insert into reply_mode_flags (profile_id, chat_id, suppressed, updated_at)\nvalues ($1, $2, $3::boolean, now())\non conflict (profile_id, chat_id) do update\n  set suppressed = excluded.suppressed, updated_at = now();",
        "options": {
          "queryReplacement": "={{ $json.profileId }},{{ $json.chatId }},{{ $json.suppressed }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        660,
        120
      ],
      "id": "d2000000-0000-4000-8000-000000000105",
      "name": "Upsert Reply Mode",
      "credentials": {
        "postgres": {
          "id": "vvRrFiEXzLVqKjOx",
          "name": "Postgres"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"written\": $items().length } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        880,
        120
      ],
      "id": "d2000000-0000-4000-8000-000000000106",
      "name": "Respond"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Validate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate": {
      "main": [
        [
          {
            "node": "If invalid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If invalid?": {
      "main": [
        [
          {
            "node": "Respond Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Upsert Reply Mode",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert Reply Mode": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "pinData": {},
  "triggerCount": 1,
  "meta": {},
  "id": "SCLcpn6DMDG3Z4VN",
  "active": true
}
