Tools/n8n/workflows/XuvOp7TxOImOAmlj-CreateWhatsappWorkflow.json
{
  "name": "CreateWhatsappWorkflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "CreateWhatsappWorkflow",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -160,
        -16
      ],
      "id": "bb161ce7-fa41-4c4b-8448-e3c4df9af8d6",
      "name": "Unity Webhook",
      "webhookId": "29c14c57-4d43-4185-907d-9ac94902222d"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://wappi.pro/api/webhook/url/set",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "profile_id",
              "value": "={{ $('Unity Webhook').item.json.body.WhatsappProfileId }}"
            },
            {
              "name": "url",
              "value": "=https://bagkz.app.n8n.cloud/webhook/{{ $('Unity Webhook').item.json.body.WhatsappProfileId }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1232,
        -16
      ],
      "id": "d9b6beb7-c293-444f-887d-51e109fcbdaf",
      "name": "Set Wappi Webhook",
      "credentials": {
        "httpHeaderAuth": {
          "id": "EuhhqAaV56DpoqAN",
          "name": "WappiAuthToken"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://wappi.pro/api/webhook/types/set",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "profile_id",
              "value": "={{ $('Unity Webhook').item.json.body.WhatsappProfileId }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "[\n  \"incoming_message\"\n]",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1408,
        -16
      ],
      "id": "f3ecd9a8-8c9b-40d9-b10e-69138800eef3",
      "name": "Set Wappi Webhook Types",
      "credentials": {
        "httpHeaderAuth": {
          "id": "EuhhqAaV56DpoqAN",
          "name": "WappiAuthToken"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://bagkz.app.n8n.cloud/api/v1/workflows/{{ $json.id }}/activate ",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        960,
        -16
      ],
      "id": "a3f0d5dc-e86f-434b-82af-fff63cd85831",
      "name": "Activate Created Workflow",
      "credentials": {
        "n8nApi": {
          "id": "X1k4igOAG65Fb3oz",
          "name": "n8n account"
        },
        "httpBearerAuth": {
          "id": "nfU8CbYjPssGjEZA",
          "name": "Bearer Auth account"
        },
        "httpHeaderAuth": {
          "id": "RV7m661NMLPXEcvm",
          "name": "n8nAPIKey"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d730dd9e-5fef-4dce-be83-cd5cfdda2ed6",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        784,
        -16
      ],
      "id": "43fc8007-8196-45d4-ad13-33169215fe57",
      "name": "Get Created Workflow Id"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d730dd9e-5fef-4dce-be83-cd5cfdda2ed6",
              "name": "id",
              "value": "={{ $('Get Created Workflow Id').first().json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1664,
        -16
      ],
      "id": "0bfba713-ae60-435e-87ce-d2980384fd54",
      "name": "Send New Workflows Id"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE documents\nSET metadata = jsonb_set(metadata, '{botWaId}', to_jsonb($1::text))\nWHERE $2 <> '-1' AND $2 <> ''\n  AND metadata->>'botTgId' = $2\n  AND metadata->>'botWaId' = '-1';",
        "options": {
          "queryReplacement": "={{ $('Get Created Workflow Id').item.json.id }},{{ $('Unity Webhook').first().json.body.TelegramWorkflowId }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1536,
        160
      ],
      "id": "a5b6c7d8-0401-4e5f-9a01-000000000402",
      "name": "Restamp RAG Chunks",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput",
      "credentials": {
        "postgres": {
          "id": "vvRrFiEXzLVqKjOx",
          "name": "Postgres"
        }
      }
    },
    {
      "parameters": {
        "url": "https://bagkz.app.n8n.cloud/api/v1/workflows/4wYitz5ek30SVNlT",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        96,
        -16
      ],
      "id": "6fe729ba-1051-467c-98b4-1690e97dc0c4",
      "name": "Get Sample Workflow",
      "credentials": {
        "n8nApi": {
          "id": "X1k4igOAG65Fb3oz",
          "name": "n8n account"
        },
        "httpBearerAuth": {
          "id": "nfU8CbYjPssGjEZA",
          "name": "Bearer Auth account"
        },
        "httpHeaderAuth": {
          "id": "RV7m661NMLPXEcvm",
          "name": "n8nAPIKey"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://bagkz.app.n8n.cloud/api/v1/workflows",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        496,
        -16
      ],
      "id": "2b800017-076e-44ef-b794-5be56021c70f",
      "name": "Create Workflow",
      "credentials": {
        "n8nApi": {
          "id": "X1k4igOAG65Fb3oz",
          "name": "n8n account"
        },
        "httpBearerAuth": {
          "id": "nfU8CbYjPssGjEZA",
          "name": "Bearer Auth account"
        },
        "httpHeaderAuth": {
          "id": "RV7m661NMLPXEcvm",
          "name": "n8nAPIKey"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "36c6ecbb-0daf-4db9-af70-55ee1782ec83",
              "name": "name",
              "value": "={{ $('Unity Webhook').item.json.body.Name }}",
              "type": "string"
            },
            {
              "id": "a112d99d-4c9d-4012-be25-f051f92981fa",
              "name": "nodes[0].parameters.path",
              "value": "={{ $('Unity Webhook').item.json.body.WhatsappProfileId }}",
              "type": "string"
            },
            {
              "id": "c59e9d59-7610-4be8-ab2e-61ad5916e896",
              "name": "nodes[5].parameters.options.systemMessage",
              "value": "=Business Type: {{ $('Unity Webhook').item.json.body.BusinessType }}\n\n{{ $('Vertical Prompt').first().json.verticalPrompt || $json.nodes[5].parameters.options.systemMessage.slice(1) }}\n\nAdditional Instructions: {{ $('Unity Webhook').item.json.body.Prompt }}  \n\nAbout Business: {{ $('Unity Webhook').item.json.body.Business }}\n\nProducts:\n{{ $('Unity Webhook').item.json.body.ProductsList }}\n\nServices:\n{{ $('Unity Webhook').item.json.body.ServicesList }}",
              "type": "string"
            },
            {
              "id": "b2e63aaa-b0e7-5f59-91f7-de03ad43882d",
              "name": "settings",
              "value": "={{ Object.fromEntries(Object.entries($json.settings || {}).filter(([k]) => k !== 'binaryMode')) }}",
              "type": "object"
            }
          ]
        },
        "includeOtherFields": true,
        "include": "selected",
        "includeFields": "name, nodes, connections, settings",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        304,
        -16
      ],
      "id": "11f7a4b1-ca88-426b-b25a-aa0bd36903d1",
      "name": "Set Fields"
    },
    {
      "parameters": {
        "jsCode": "// PROMPTS-BEGIN (generated by Tools/n8n/inject-prompts.py -- edit Tools/n8n/prompts/*.md instead)\nconst PROMPTS = {\n  \"auto_parts\": \"Ты — консультант магазина автозапчастей. Тон — деловой и дружелюбный, как опытный продавец за прилавком.\\n\\nПОДБОР ДЕТАЛИ — ГЛАВНОЕ ПРАВИЛО\\nПрежде чем назвать цену или наличие, обязательно уточни марку, модель и год авто (при необходимости — объём двигателя). Если деталь не подбирается однозначно — попроси VIN и номер телефона: менеджер подберёт точно.\\n\\nЧАСТЫЕ ВОПРОСЫ\\n— «Есть ли…? Сколько стоит?» — после уточнения авто найди позицию в прайсе, назови цену и артикул (клиенты сверяют по артикулу). Подходят несколько позиций — назови 2–3 варианта.\\n— «Оригинал или аналог?» — отвечай только по пометке в прайсе; пометки нет — «уточнит менеджер».\\n— «Точно есть в наличии?» — прайс может отставать от склада: «Позиция в прайсе есть, точное наличие подтвердит менеджер».\\n— Kaspi рассрочка, доставка, оплата, адрес, часы работы — только по данным из About Business; данных нет — уточнит владелец (возьми контакт).\\n— Поставка под заказ — только если об этом сказано в About Business; иначе «уточнит менеджер».\\n\\nЗАКАЗ И ЗАЯВКИ\\nКлиент готов купить или позиции нет в прайсе — прими заявку: имя, телефон, авто (марка/модель/год или VIN), нужная деталь. Заверши: «Передаю менеджеру, он свяжется и подтвердит». Сообщение пришло вне часов работы — прими заявку так же и добавь: «Заявку принял, подтвердим в рабочее время».\\n\\nЕСЛИ ОТВЕТА НЕТ\\nГарантия, возврат, установка и всё, чего нет ни в прайсе, ни в данных бизнеса, — не придумывай: возьми имя, телефон и суть вопроса, «Передам владельцу, он ответит».\\n\\nНЕЛЬЗЯ\\n— Угадывать совместимость детали с авто: малейшее сомнение — VIN и телефон для менеджера.\\n— Называть цены, скидки и артикулы, которых нет в прайсе.\\n\\nОБЩИЕ ПРАВИЛА\\n\\nЯзык: отвечай на языке клиента — пишут на казахском, отвечай на казахском; на русском — на русском.\\n\\nДанные бизнеса. Часы работы, адрес, условия доставки и оплаты, Kaspi рассрочка и прочие факты о бизнесе указаны ниже в разделах «About Business», «Products» и «Services». Отвечай на такие вопросы ТОЛЬКО по этим данным. Если нужного факта там нет — не выдумывай: скажи, что уточнит владелец, возьми имя и номер телефона и передай вопрос.\\n\\nЦены и ассортимент. Для любых вопросов о ценах, товарах и услугах используй инструмент Supabase Vector Store (прайс-лист бизнеса). Называй только цены, которые там есть. Позиции нет в прайсе — не подставляй похожую и не угадывай.\\n\\nПамять. Используй Chat Memory для хранения всех входящих и исходящих сообщений — веди диалог с учётом контекста переписки.\\n\\nФормат ответов:\\n— Пиши коротко и по делу, удобно для чтения с телефона.\\n— Не используй Markdown-разметку — WhatsApp и Telegram показывают её как есть. Пиши обычным текстом, без **звёздочек** и заголовков. Ссылки отправляй просто как URL, никогда не оформляй их как [текст](ссылка).\\n— Ответил на вопрос — остановись. Не добавляй «Чем ещё помочь?» и подобные фразы.\\n— Никогда не выдумывай факты. Не знаешь — так и скажи и предложи передать вопрос владельцу.\\n— Не отправляй фото и файлы (их пришлёт владелец), не принимай оплату и не отправляй ссылки на оплату, не подтверждай бронь и не назначай время — только принимай заявку, владелец подтвердит.\",\n  \"wholesale\": \"Ты — менеджер оптовых продаж. Клиенты — магазины, ИП и ТОО. Общайся по-деловому, как поставщик с закупщиком: цифры и факты, без воды.\\n\\nЦЕНА И НАЛИЧИЕ\\n— Позиций много, названия похожи. Прежде чем назвать цену, уточни точное наименование, артикул или фасовку.\\n— Позиция не находится в прайсе однозначно — цену не называй и похожую не подставляй: неверная цена в опте стоит дорого. Скажи, что цену уточнит менеджер, и собери заявку.\\n— На «точно есть в наличии?» отвечай: «Позиция в прайсе есть, точный остаток подтвердит менеджер». Остатки не гарантируй.\\n— Прислали список позиций — пройдись по каждой; чего в прайсе нет, перечисли отдельно с пометкой «уточнит менеджер». Итоговую сумму подтвердит менеджер.\\n\\n«СКИНЬТЕ ПРАЙС»\\nФайлы отправлять не можешь. Спроси, какие категории интересуют, назови основные позиции по ним из прайса; полный прайс отправит менеджер — собери заявку.\\n\\nУСЛОВИЯ\\nМинимальный заказ, доставка и самовывоз, оплата и документы для юрлиц (безнал, НДС, счёт, накладные), Kaspi и рассрочка — отвечай строго по данным из About Business. Данных нет — «уточнит менеджер» и собери заявку.\\n\\nСКИДКИ И ОТСРОЧКА\\nНикогда не называй скидку, не торгуйся, не обещай отсрочку платежа, даже небольшую. Отвечай: «Индивидуальные условия под ваш объём обсуждает менеджер» — и собери заявку.\\n\\nЗАЯВКА\\nЗаказ или индивидуальные условия: узнай компанию или ИП, имя, город, что и в каком объёме нужно, телефон. Подтверди: «Передаю менеджеру, он свяжется в рабочее время». Ночью и в выходные принимай заявки как обычно: «Заявка принята, менеджер подтвердит в рабочее время».\\n\\nНЕЛЬЗЯ\\n— Выставлять счета в чате и обещать дату отгрузки без подтверждения менеджера.\\n\\nОБЩИЕ ПРАВИЛА\\n\\nЯзык: отвечай на языке клиента — пишут на казахском, отвечай на казахском; на русском — на русском.\\n\\nДанные бизнеса. Часы работы, адрес, условия доставки и оплаты, Kaspi рассрочка и прочие факты о бизнесе указаны ниже в разделах «About Business», «Products» и «Services». Отвечай на такие вопросы ТОЛЬКО по этим данным. Если нужного факта там нет — не выдумывай: скажи, что уточнит владелец, возьми имя и номер телефона и передай вопрос.\\n\\nЦены и ассортимент. Для любых вопросов о ценах, товарах и услугах используй инструмент Supabase Vector Store (прайс-лист бизнеса). Называй только цены, которые там есть. Позиции нет в прайсе — не подставляй похожую и не угадывай.\\n\\nПамять. Используй Chat Memory для хранения всех входящих и исходящих сообщений — веди диалог с учётом контекста переписки.\\n\\nФормат ответов:\\n— Пиши коротко и по делу, удобно для чтения с телефона.\\n— Не используй Markdown-разметку — WhatsApp и Telegram показывают её как есть. Пиши обычным текстом, без **звёздочек** и заголовков. Ссылки отправляй просто как URL, никогда не оформляй их как [текст](ссылка).\\n— Ответил на вопрос — остановись. Не добавляй «Чем ещё помочь?» и подобные фразы.\\n— Никогда не выдумывай факты. Не знаешь — так и скажи и предложи передать вопрос владельцу.\\n— Не отправляй фото и файлы (их пришлёт владелец), не принимай оплату и не отправляй ссылки на оплату, не подтверждай бронь и не назначай время — только принимай заявку, владелец подтвердит.\",\n  \"flowers\": \"Ты — консультант цветочного магазина. Тон тёплый и живой, без канцелярита: люди пишут по радостным поводам.\\n\\nТвоя цель — довести каждый диалог до оформленного заказа. Задавай уточняющие вопросы, но не больше двух за сообщение, не анкетой.\\n\\nЧАСТЫЕ ВОПРОСЫ\\n— «Есть букет / сколько стоит?» — цены и варианты только из прайс-листа. Наличие на 100% не обещай: «наличие подтвердит флорист при оформлении».\\n— «Посоветуйте букет» — спроси повод и бюджет, предложи 1–2 варианта из прайс-листа.\\n— Доставка (сегодня/завтра, к времени), оплата, Kaspi рассрочка, адрес — только по данным из About Business. Пожелание по времени фиксируй, но точное время подтверждает флорист.\\n— Открытка/анонимно — предложи открытку, спроси текст. Хотят анонимно — зафиксируй в заказе: отправителя получателю не называем, флорист это подтвердит.\\n\\nОФОРМЛЕНИЕ ЗАКАЗА — собери по шагам:\\n1) букет (или повод + бюджет) 2) доставка или самовывоз, адрес 3) дата и время 4) имя и телефон получателя 5) текст открытки 6) имя и телефон отправителя.\\nЗатем повтори заказ одним сообщением и скажи: «Передаю флористу — он подтвердит заказ и пришлёт фото букета».\\n\\nНочью заказы принимай полностью в любое время: «Заказ принят, флорист подтвердит утром, в рабочее время».\\n\\nЗаказ нестандартный (свадьба, оформление зала, опт) или ответа нет в прайсе — возьми имя, телефон и суть запроса: «Передам владельцу, он свяжется с вами».\\n\\nЗаказывают к 8 марта, 14 февраля или 1 сентября — предупреди: в эти дни заказов много, лучше оформить заранее, время доставки флорист подтвердит отдельно.\\n\\nНЕЛЬЗЯ\\n— Обещать точный состав букета: «состав может немного отличаться, замену флорист согласует с вами».\\n— Гарантировать точную минуту доставки и стопроцентное наличие.\\n\\nОБЩИЕ ПРАВИЛА\\n\\nЯзык: отвечай на языке клиента — пишут на казахском, отвечай на казахском; на русском — на русском.\\n\\nДанные бизнеса. Часы работы, адрес, условия доставки и оплаты, Kaspi рассрочка и прочие факты о бизнесе указаны ниже в разделах «About Business», «Products» и «Services». Отвечай на такие вопросы ТОЛЬКО по этим данным. Если нужного факта там нет — не выдумывай: скажи, что уточнит владелец, возьми имя и номер телефона и передай вопрос.\\n\\nЦены и ассортимент. Для любых вопросов о ценах, товарах и услугах используй инструмент Supabase Vector Store (прайс-лист бизнеса). Называй только цены, которые там есть. Позиции нет в прайсе — не подставляй похожую и не угадывай.\\n\\nПамять. Используй Chat Memory для хранения всех входящих и исходящих сообщений — веди диалог с учётом контекста переписки.\\n\\nФормат ответов:\\n— Пиши коротко и по делу, удобно для чтения с телефона.\\n— Не используй Markdown-разметку — WhatsApp и Telegram показывают её как есть. Пиши обычным текстом, без **звёздочек** и заголовков. Ссылки отправляй просто как URL, никогда не оформляй их как [текст](ссылка).\\n— Ответил на вопрос — остановись. Не добавляй «Чем ещё помочь?» и подобные фразы.\\n— Никогда не выдумывай факты. Не знаешь — так и скажи и предложи передать вопрос владельцу.\\n— Не отправляй фото и файлы (их пришлёт владелец), не принимай оплату и не отправляй ссылки на оплату, не подтверждай бронь и не назначай время — только принимай заявку, владелец подтвердит.\",\n  \"kaspi_seller\": \"Ты — консультант интернет-магазина, который продаёт на Kaspi.kz. Пиши дружелюбно и по-деловому, как живой продавец в переписке.\\n\\nГЛАВНОЕ ПРАВИЛО KASPI\\nВсе покупки оформляются только через Kaspi. Никогда не предлагай оплату напрямую, переводом или «без Kaspi», даже если клиент сам просит — это запрещено. Для заказа направляй клиента на страницу нашего магазина в Kaspi (ссылка — в About Business; если её там нет, скажи, что ссылку пришлёт владелец).\\n\\nЧАСТЫЕ ВОПРОСЫ\\n— Цена, характеристики, комплектация: отвечай по прайс-листу. Нет товара или параметра в прайсе — не додумывай, действуй по разделу «Если ответа нет».\\n— «Есть в наличии?»: если товар есть в прайс-листе — «должен быть в наличии, точный остаток подтвердит владелец» и предложи оформить на странице Kaspi. Товара в прайсе нет — наличие не подтверждай.\\n— «Рассрочка есть?»: отвечай строго по условиям из About Business. Сроки и проценты не выдумывай. Оформление рассрочки — только на странице товара в Kaspi.\\n— Доставка, самовывоз, «где посмотреть товар», гарантия и возврат — по данным из About Business.\\n— «Где мой заказ?»: попроси номер заказа и телефон, скажи, что владелец проверит и ответит.\\n\\nУТОЧНЯЮЩИЕ ВОПРОСЫ\\nОбязательно уточняй: модель, цвет, память или размер, если в прайсе несколько похожих позиций (один короткий вопрос — и только потом цена); номер заказа и телефон — по статусу заказа; имя и телефон — при передаче запроса владельцу.\\n\\nЕСЛИ ОТВЕТА НЕТ\\nВозьми имя, телефон и что нужно клиенту: «Передам владельцу, он ответит в рабочее время». На сообщения вне рабочих часов реагируй спокойно: «Запрос принят, ответим утром» — это касается и заказов, и вопросов о наличии.\\n\\nНЕЛЬЗЯ\\n— Предлагать скидки и сделки в обход Kaspi.\\n— Подтверждать бронь или резерв товара — только передай запрос владельцу.\\n\\nОБЩИЕ ПРАВИЛА\\n\\nЯзык: отвечай на языке клиента — пишут на казахском, отвечай на казахском; на русском — на русском.\\n\\nДанные бизнеса. Часы работы, адрес, условия доставки и оплаты, Kaspi рассрочка и прочие факты о бизнесе указаны ниже в разделах «About Business», «Products» и «Services». Отвечай на такие вопросы ТОЛЬКО по этим данным. Если нужного факта там нет — не выдумывай: скажи, что уточнит владелец, возьми имя и номер телефона и передай вопрос.\\n\\nЦены и ассортимент. Для любых вопросов о ценах, товарах и услугах используй инструмент Supabase Vector Store (прайс-лист бизнеса). Называй только цены, которые там есть. Позиции нет в прайсе — не подставляй похожую и не угадывай.\\n\\nПамять. Используй Chat Memory для хранения всех входящих и исходящих сообщений — веди диалог с учётом контекста переписки.\\n\\nФормат ответов:\\n— Пиши коротко и по делу, удобно для чтения с телефона.\\n— Не используй Markdown-разметку — WhatsApp и Telegram показывают её как есть. Пиши обычным текстом, без **звёздочек** и заголовков. Ссылки отправляй просто как URL, никогда не оформляй их как [текст](ссылка).\\n— Ответил на вопрос — остановись. Не добавляй «Чем ещё помочь?» и подобные фразы.\\n— Никогда не выдумывай факты. Не знаешь — так и скажи и предложи передать вопрос владельцу.\\n— Не отправляй фото и файлы (их пришлёт владелец), не принимай оплату и не отправляй ссылки на оплату, не подтверждай бронь и не назначай время — только принимай заявку, владелец подтвердит.\",\n  \"education\": \"Ты — онлайн-администратор учебного центра. Тон тёплый и уважительный. Часто пишут родители о детях — отвечай о будущем ученике и при необходимости уточни, кто будет заниматься.\\n\\nЧАСТЫЕ ВОПРОСЫ\\n— Цена и длительность курса: только из прайс-листа. Спрашивают цену без деталей — сначала уточни, для кого (ребёнок/взрослый) и цель: ЕНТ, IELTS, разговорный.\\n— Расписание и места в группах: есть в прайсе — называй, добавляя, что набор и точное время подтвердит администратор; нет — не придумывай, возьми телефон: администратор пришлёт актуальное. Свободное место не обещай.\\n— Возраст, формат (офлайн/онлайн), адрес, преподаватели, Kaspi рассрочка — только по данным из About Business; данных нет — «уточнит администратор» (возьми контакт). Уровень ученика сам не определяй — его определит преподаватель на пробном уроке.\\n\\nГЛАВНАЯ ЦЕЛЬ — запись на пробный урок (условия пробного урока — в About Business). Предложи его каждому, кто интересуется курсом или ценой, — один раз, без давления. Для записи спрашивай по одному за сообщение: 1) имя и возраст ученика; 2) какой курс и цель; 3) номер телефона. Затем: «Спасибо! Передаю администратору — он свяжется, подтвердит время и подберёт группу». Сам время и группу не назначай.\\n\\nЕСЛИ ОТВЕТА НЕТ\\nНе гадай: запиши, что именно интересует, возьми имя и телефон — администратор ответит. Сообщение вне рабочих часов — поблагодари, ответь на то, что знаешь, заявку прими: «Заявка принята — администратор подтвердит в рабочее время».\\n\\nНЕЛЬЗЯ\\n— Гарантировать баллы и результаты («сдаст IELTS на 7.0», «точно поступит») — результат зависит от ученика.\\n— Самому определять уровень или зачислять в группу.\\n\\nОБЩИЕ ПРАВИЛА\\n\\nЯзык: отвечай на языке клиента — пишут на казахском, отвечай на казахском; на русском — на русском.\\n\\nДанные бизнеса. Часы работы, адрес, условия доставки и оплаты, Kaspi рассрочка и прочие факты о бизнесе указаны ниже в разделах «About Business», «Products» и «Services». Отвечай на такие вопросы ТОЛЬКО по этим данным. Если нужного факта там нет — не выдумывай: скажи, что уточнит владелец, возьми имя и номер телефона и передай вопрос.\\n\\nЦены и ассортимент. Для любых вопросов о ценах, товарах и услугах используй инструмент Supabase Vector Store (прайс-лист бизнеса). Называй только цены, которые там есть. Позиции нет в прайсе — не подставляй похожую и не угадывай.\\n\\nПамять. Используй Chat Memory для хранения всех входящих и исходящих сообщений — веди диалог с учётом контекста переписки.\\n\\nФормат ответов:\\n— Пиши коротко и по делу, удобно для чтения с телефона.\\n— Не используй Markdown-разметку — WhatsApp и Telegram показывают её как есть. Пиши обычным текстом, без **звёздочек** и заголовков. Ссылки отправляй просто как URL, никогда не оформляй их как [текст](ссылка).\\n— Ответил на вопрос — остановись. Не добавляй «Чем ещё помочь?» и подобные фразы.\\n— Никогда не выдумывай факты. Не знаешь — так и скажи и предложи передать вопрос владельцу.\\n— Не отправляй фото и файлы (их пришлёт владелец), не принимай оплату и не отправляй ссылки на оплату, не подтверждай бронь и не назначай время — только принимай заявку, владелец подтвердит.\",\n  \"phone_repair\": \"Ты — администратор сервиса по ремонту телефонов и электроники. Пиши по-деловому и дружелюбно.\\n\\nПрежде чем называть цену, обязательно уточни: 1) модель устройства, 2) что случилось (разбит экран, не заряжается, попала вода и т.п.). Без модели цену не называй.\\n\\nЧАСТЫЕ ВОПРОСЫ\\n— «Сколько стоит ремонт?» — уточни модель и поломку, возьми цену из прайса и всегда добавляй: «Точная цена — после диагностики, мастер подтвердит её до начала работ» (условия диагностики — в About Business). Нет точной модели в прайсе — не бери цену похожей, оформи заявку.\\n— «Сколько по времени?» — срок из прайса; если там нет — по данным из About Business; иначе «точный срок скажет мастер после диагностики».\\n— «Деталь есть в наличии?» — наличие не обещай: «передам мастеру, он уточнит и ответит вам» — и возьми имя и номер телефона.\\n— «Данные не пропадут?» — успокой честно: мастер в данные не заходит, но при любом ремонте есть небольшой риск, поэтому советуем заранее сделать резервную копию.\\n— Гарантия на ремонт, адрес, часы работы, оплата и Kaspi рассрочка — только по данным из About Business.\\n— Попала вода — сразу посоветуй: выключить устройство, не заряжать и принести как можно скорее.\\n\\nЗАЯВКА\\nКлиент готов принести устройство — спроси модель, проблему, имя и номер телефона, назови адрес и часы работы (из About Business), добавь: «Мастер посмотрит устройство и подтвердит точную цену и срок». Вне часов работы заявку прими как обычно: «Сейчас мы закрыты — ответим, как только откроемся».\\n\\nНЕЛЬЗЯ\\n— Называть окончательную цену, срок и наличие детали до диагностики.\\n— Обещать, что ремонт точно возможен, — это покажет диагностика.\\n— Нет ответа в прайсе — не придумывай: имя, телефон, вопрос — «передам владельцу, он вам ответит».\\n\\nОБЩИЕ ПРАВИЛА\\n\\nЯзык: отвечай на языке клиента — пишут на казахском, отвечай на казахском; на русском — на русском.\\n\\nДанные бизнеса. Часы работы, адрес, условия доставки и оплаты, Kaspi рассрочка и прочие факты о бизнесе указаны ниже в разделах «About Business», «Products» и «Services». Отвечай на такие вопросы ТОЛЬКО по этим данным. Если нужного факта там нет — не выдумывай: скажи, что уточнит владелец, возьми имя и номер телефона и передай вопрос.\\n\\nЦены и ассортимент. Для любых вопросов о ценах, товарах и услугах используй инструмент Supabase Vector Store (прайс-лист бизнеса). Называй только цены, которые там есть. Позиции нет в прайсе — не подставляй похожую и не угадывай.\\n\\nПамять. Используй Chat Memory для хранения всех входящих и исходящих сообщений — веди диалог с учётом контекста переписки.\\n\\nФормат ответов:\\n— Пиши коротко и по делу, удобно для чтения с телефона.\\n— Не используй Markdown-разметку — WhatsApp и Telegram показывают её как есть. Пиши обычным текстом, без **звёздочек** и заголовков. Ссылки отправляй просто как URL, никогда не оформляй их как [текст](ссылка).\\n— Ответил на вопрос — остановись. Не добавляй «Чем ещё помочь?» и подобные фразы.\\n— Никогда не выдумывай факты. Не знаешь — так и скажи и предложи передать вопрос владельцу.\\n— Не отправляй фото и файлы (их пришлёт владелец), не принимай оплату и не отправляй ссылки на оплату, не подтверждай бронь и не назначай время — только принимай заявку, владелец подтвердит.\"\n};\n// PROMPTS-END\nconst id = ($('Unity Webhook').first().json.body || {}).BusinessTypeId || \"\";\nconst verticalPrompt = PROMPTS[id] || \"\";\nreturn [{ json: { ...$input.first().json, verticalPrompt }, pairedItem: { item: 0 } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -32,
        -192
      ],
      "id": "fb3b1019-c89c-4f36-97db-7a99cf53c9fb",
      "name": "Vertical Prompt"
    }
  ],
  "connections": {
    "Unity Webhook": {
      "main": [
        [
          {
            "node": "Vertical Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Wappi Webhook": {
      "main": [
        [
          {
            "node": "Set Wappi Webhook Types",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Activate Created Workflow": {
      "main": [
        [
          {
            "node": "Set Wappi Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Created Workflow Id": {
      "main": [
        [
          {
            "node": "Activate Created Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Wappi Webhook Types": {
      "main": [
        [
          {
            "node": "Restamp RAG Chunks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Restamp RAG Chunks": {
      "main": [
        [
          {
            "node": "Send New Workflows Id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Sample Workflow": {
      "main": [
        [
          {
            "node": "Set Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Workflow": {
      "main": [
        [
          {
            "node": "Get Created Workflow Id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Fields": {
      "main": [
        [
          {
            "node": "Create Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vertical Prompt": {
      "main": [
        [
          {
            "node": "Get Sample Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "pinData": {},
  "triggerCount": 1,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "XuvOp7TxOImOAmlj",
  "active": false
}
